.sidebar .chapter > li > ol > li > ol > li > ol > li > ol {
    display: none !important;
}

@font-face {
    font-family: 'yu';
    src: url('FZXSSK.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'yuHead';
    src: url('HanliOldstyle.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'yuSide';
    src: url('qiji-fallback.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: 'yu', serif !important;
}

h1, h2, h3, h4 {
    font-family: 'yuHead', serif !important;
}

.sidebar {
    font-family: 'yuSide', serif !important;
}

