name: Deploy mdBook to Pages

on:
  push:
    branches: ["master"] 

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: 'latest'
      - name: Install mdbook-infisearch
        run: cargo install mdbook-infisearch
      - name: Build Book
        run: mdbook build
      - name: Inject Search Index
        run: mdbook-infisearch
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './book' # mdBook 默认输出目录
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
